body {
  font-family: futura-pt, sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #78c0d0;
  margin: 0;
  margin-bottom: 0.5rem;
}

p {
  margin: 0;
  margin-bottom: 0.5rem;
}

p.hm-about, p.home-project-title, p {
  font-size: 14px;
  line-height: 24px;
  font-family: "futura-pt",Helvetica,Arial,sans-serif;
  padding: 0 30px;
}

a {
  color: #ec0a90;
  text-decoration: none;
  transition: all 200ms ease;
}
a:link {
  color: #ec0a90;
}
a:visited {
  color: #ec0a90;
}
a:hover {
  color: #78c0d0;
  transition: all 200ms ease;
}
a:active {
  color: #ec0a90;
}

#footer {
  margin: 180px auto 0 auto;
  padding: 0 30px;
  text-align: center;
}